.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.font-titillium {
    font-family: 'Titillium Web', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

.style-uppercase {
    text-transform: uppercase;
}