html, body {
    background: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

ul li a{
    margin-right: 20px;
}

div {
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
    border: solid white;
    width: 100px;
}


footer {
    background: black;
}

.slft-navbar {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: grey;
    text-decoration: none;
}

.slft-navbar a {
    color: grey;
    text-decoration: none;
}

.slft-navbar .aktiv {
    text-decoration: none;
    color: black;
}

.slft-navbar a:hover {
    color: black;
    text-decoration: none;
}

.slft-footer a {
    color: white;
    text-decoration: none;
}

.slft-footer a:hover {
    color: grey;
    text-decoration: none;
}

.black-container {
    background: black;
}

a .a-black {
    color: black;
    text-decoration: none;
}

.a-black a:hover {
    color: grey;
    text-decoration: none;
}

a .a-white {
    color: white;
    text-decoration: none;
}

.a-white a:hover {
    color: grey;
    text-decoration: none;
}

#navigator {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer {
    background: black;
}
